@font-face {
  font-family: 'a dripping marker';
  src: url(../fonts/adrip1.ttf);
}

@font-face {
  font-family: 'Tox Typewriter';
  src: url(../fonts/ToxTypewriter.ttf);
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url(../fonts/Titillium-Bold.otf);
}

@font-face {
  font-family: 'Titillium-Regular';
  src: url(../fonts/Titillium-Regular.otf);
}

@font-face {
  font-family: 'monthoers';
  src: url(../fonts/Monthoers.ttf);
}
html {
  position: relative;
  min-height: 100%;
}

body{
  height:100%;
  margin-bottom:60px;
  padding-bottom: 70px;
   font-family: Titillium-Regular, Helvetica, sans-seriff;
}

h1{
	text-decoration:underline;
}

.header{
	position:absolute;
	top:50%;
	text-align:center;
	width:100%;
	color:#fff;
	font-size:36px;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Safari */
	transform: translate(0,-50%);
}

#mainHero{
  width:100vw;

  background-size:cover;
	position:relative;
	height:100vh;
	overflow:auto;
}

.jumbotron{
  background:url(../img/382499.jpg);
  padding:0px;
  height:100vh;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
}

.jumbotron .container{
  padding:inherit;
  margin:0px;
}

.navbar{
  margin-bottom:0px;
}

.bodyContent{
  padding:50px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid lightblue; /* Firefox */
  column-rule: 1px solid lightblue;
}

.blog-main{
  padding: 10px;
}

h2.blog-post-title{
  font-family: 'ToxTypewriter';
}

a:hover{
  text-decoration: none;
}

#s{
  color: #000;
}

.portfolioContent{
  padding:50px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
  clear:both;
}

.servicesContent{
  padding:50px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
  clear:both;
}

ul.comment-list{
  list-style-type: none;
}

#footer{
	/*padding:30px 0px;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height
	text-align:center;
	color:#ffffff;
	background-color:#000000;
}

#searchsubmit{
  color: #000;
}

.searchBox{
  text:#000;
}

h1.glenName{
	width:100%;
	position:relative;
	left:10px;
	font-family: a dripping marker;
	font-size:150px;
	top:5px;
	color:#800000;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
	text-decoration:none;
}

.glenTagLine{
	height:50px;
	width:100%;
	color:#000;
	position:relative;
  display: flex;
	left:50px;
	font-size:25px;
	font-family: Tox Typewriter;
}

.socialMedia {
	text-align: center;
	padding-top: 0;
	margin:0px 0px;
	background:
	}

.socialMedia a img{
	padding:10px;
	height: 60px;
	width:100px;
	display: inline-block;
	text-indent: -999em;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	border: 0;
	-webkit-transition: all .2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all .2s ease-in-out;
	}

nav{
  margin-bottom:0; !important;
}

.navigationItem{
	opacity:1;
	padding:0px 10px;
	list-style:none;
	display:inline-block;
	font-family: Titillium-Bold;
	font-size:20px;
}

.navLink {
	color:#ffffff;
	text-decoration:none;
}

.navigationItem a:hover{
    color: #00ff00;
    -webkit-transition: all .5s ease-out; /* Safari 3.1 to 6.0 */
    transition: all .5s ease-out;
}

.button{
	/* color:#4CAF50; */
	margin:5px;
	background-color:#ffffff;
	text-align:center;
	border: 1px solid #4CAF50;
	font-size:16px;
	-webkit-transition-duration: .5s; /* Safari 3.1 to 6.0 */
    transition-duration: .5s;
}

.button:hover{
	color:#ffffff;
	background-color:#4CAF50;
}

#serviceList{
	list-style-type:none;
	padding:0;
}

#contactInfo{
	display:none;
	-webkit-transition: .5s ease-out; /* Safari 3.1 to 6.0 */
    transition: .5s ease-out;
}

#contactFieldSet{
	text-align:center;
}

legend{
	text-align:left;
}

#myPhoto{
	height:150px;
	width:150px;
	padding:2px;
	border-radius:50%;
	border:1px solid #800000;
	float:left;
}

.topPage{
	font-size:9px;
	float:right;
	clear:both;
	text-decoration:underline;
}

.portfolioItem{
	width:100px;
  height: 110px;
}

.portfolioblock{
  height:350px;
}

#portfolioHolder{
	display:table;
	margin:0 auto;
	width:inherit;
	height:700px;
}

.Error{
	display:none;
	color:#ff3333;
}

@media(max-width:700px){
	.bodyContent{
	  padding:50px 50px;
	  text-align:center;
	  width:100%;
	  margin:0px auto;
	  -webkit-column-count: 1; /* Chrome, Safari, Opera */
	  -moz-column-count: 1; /* Firefox */
	  column-count: 1;
	  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	  -moz-column-gap: 40px; /* Firefox */
	  column-gap: 40px;
	  -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
	  -moz-column-rule: 1px solid lightblue; /* Firefox */
	  column-rule: 1px solid lightblue;
	}

	h1.glenName{
		width:100%;
		position:relative;
		font-family: a dripping marker;
		font-size:80px;
		top:5px;
		color:#800000;
		text-align:center;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		text-decoration:none;
	}

	.glenTagLine{
		width:50%;
		color:#FFF;
		position:relative;
		text-align:center;
		font-size:20px;
		left:0px;
    float:right;
	}

  .blog-sidebar{
    display: none;
  }

	.jumbotron{
	  background: url(../img/jTrain.jpg);
	  padding:0px;
	  height:100vh;
	  background-size:cover;
	  background-attachment:fixed;
	  background-position:center;
	}

  .blog-post-title{
    font-family: 'ToxTypewriter';
  }

	a.btn btn-default btn-lg{
		padding:5px;
	}
}
