@font-face{
	font-family:aDrippingMarker;
	src: url(../fonts/adrip1.ttf);	
	}

body {
	color: #444948;
	font: normal 16px/24px "ProximaNovaLight", "Helvetica Neue", Helvetica, sans-serif;
	margin:0 0 0 0px;
	padding: 0 0 0 0px;
	}

.bodyDiv{
	margin:8px;
	}

.infoSectionDiv{
	width:100%;
	}
	
.sectionDiv{
	width:50%;
	float: left;
	}

.projectSectionDiv{
	clear:both;
	}

.pageHeader{
/*	background: #f4f3f3 url(../img/skyline.jpg) no-repeat cover top fixed; */
	background: #f4f3f3 url(../img/nyc_sunset.jpg); 
	background-size:cover;
	background-repeat:no-repeat;
	text-align: center;
	height:750px;
	}

header h1.headerIntro{
	font-family: aDrippingMarker;
	font-size: 160px;
	/* color: #99ff33; */
	color: #990000;
	}

header .avatar {
	display: block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	}

header .socialMedia {
	text-align: center;
	padding-top: 0;
	}

header .socialMedia a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-indent: -999em;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	border: 0;
	-webkit-transition: all .2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all .2s ease-in-out;
	}

header .socialMedia a.twitter  { 
	background-image: url(../img/twitter.png); 
	}

header .socialMedia a.linkedin { 
	background-image: url(../img/linkedin.png); 
	}

header .socialMedia a.email    { 
	background-image: url(../img/mail.png); 
	}

header .socialMedia a.github   { 
	background-image: url(../img/github.png); 
	}

.BioContainer {
	display: inline-block;
	text-align:center;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	height: 250px;
	width: 250px;
	}
	
.BioImage {
	height:150px;
	width:150px;
	}
	
.slantedHeader {
	z-index: 1;
	position: relative;
}

.headerSpan {
/* 	color: #99ff33; */
	color: #6600ff;
	}
	
.slantedHeader .skew:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: visible;
	width: 500px;
	height: 100px;
	background: #00bcd4;
	z-index: -1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}

.slantedHeader .skew .header-inner {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin: 0;
	color: #fff;
	text-decoration: none;
}


